html{ 
    height: 100%;
}
body {
    background: yellow;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow {
    height: 5px;
    width: 5px;
    background: yellow;
}
.black {
    height: 5px;
    width: 5px;
    background: black;
}
#root {
    display: flex;
    width: 200px;
    min-width: 200px;
    flex-wrap: wrap;
}
.gray1 {
    height: 5px;
    width: 5px;
    background: #3c3c3c;
}
    .gray2 {
        height: 5px;
        width: 5px;
        background: #303030;
    }
        .gray3 {
            height: 5px;
            width: 5px;
            background: #242424;
        }
            .gray4 {
                height: 5px;
                width: 5px;
                background: #1f1f1f;
            }
.skin {
    height: 5px;
    width: 5px;
    background: #f6c492;
}
    .skin2 {
        height: 5px;
        width: 5px;
        background: #d0a67c;
    }
        .skin3 {
            height: 5px;
            width: 5px;
            background: #c69d76;
        }
.eye {
    height: 5px;
    width: 5px;
    background: white;
}
    .eye2 {
        height: 5px;
        width: 5px;
        background: #836038;
    }
.jaquet {
    height: 5px;
    width: 5px;
    background: red;
}
    .jaquet2 {
        height: 5px;
        width: 5px;
        background: rgb(170, 0, 0);
    }
        .jaquet3 {
            height: 5px;
            width: 5px;
            background: rgb(148, 0, 0);
        }
.foot {
    height: 5px;
    width: 5px;
    background: #e7e7e7;
}
    .foot2 {
        height: 5px;
        width: 5px;
        background: #bbbbbb;
    }
        .foot3 {
            height: 5px;
            width: 5px;
            background: #7b7b7b;
        }
            .foot4 {
                height: 5px;
                width: 5px;
                background: #484848;
            }